{% extends "layout.html" %}

{% block title %} Mapa de Almacenes {% endblock title %}

{% block content %}
<h1 class="mt-4">Mapa de Almacenes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Base Moche</li>
</ol>

<div class="warehouse-map">
    <div>
        <img src="{{ url_for('static', filename='assets/Base_moche.png') }}" alt="Plano de Almacenes"
            style="width: 150%; height: 150%;">
    </div>
    <div>
        {% for item in almacenes %}
        {% for css in item.almacenCSSDetalles %}
        <div class="cell" style="top: {{ css.top }}px; left: {{ css.left_pos }}px; width: {{ css.width }}px; height: {{ css.height }}px;
                        background-color: 
                        {% if item.estado_alquiler == 'Todo por Alquilar' %}
                            red;
                        {% elif item.estado_alquiler == 'Alquiler Parcial' %}
                            orange;
                        {% elif item.estado_alquiler == 'Alquiler Total' %}
                            green;
                        {% else %}
                            grey;
                        {% endif %};" onmouseover="showInfo({{ item.id }});" onmouseout="hideInfo({{ item.id }});"
            onclick="openModal({{ item.id }}, '{{ item.nombre }}');">
            {{ item.nombre }}
        </div>
        <div class="info-box" id="info-box-{{ item.id }}"
            style="display: none; position: absolute; top: {{ css.top + css.height + 10 }}px; left: {{ css.left_pos }}px;">
            Puertas - Almacén '{{ item.nombre }}'
            <div class="info-content">
                {% for puerta in item.puertas %}
                <div class="info-item">
                    {{ puerta.nombre }} - {{ puerta.estado.descripcion }}
                    {% if puerta.contrato_puertas %}
                    {% for contrato_puerta in puerta.contrato_puertas %}
                    {% if contrato_puerta.contrato.cliente %}
                    - {{ contrato_puerta.contrato.cliente.nombre }}
                    {% else %}
                    - SIN CLIENTE
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    - SIN CLIENTE
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>

{% include '/modal_almacen.html' %}

{% endblock content %}

{% block customJS %}
<script>
    function showInfo(id) {
        document.getElementById('info-box-' + id).style.display = 'block';
    }
    function hideInfo(id) {
        document.getElementById('info-box-' + id).style.display = 'none';
    }

    function openModal(id, nombre) {
        // Insertar el contenido dinámico en el modal
        document.getElementById('modalContent').innerHTML = `Detalles del almacén: ${nombre}`;

        // Mostrar el modal
        $('#almacenModal').modal('show');
    }
</script>
{% endblock customJS %}