/* styles.css */
.warehouse-map {
    position: relative;
    width: 800px;
    height: 600px;
}

.info-box {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 100;
}

.info-content {
    display: block;
}

.info-item {
    display: block;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.client-info {
    display: flex;
    align-items: center; /* Alinea verticalmente el logo y el texto */
}

.client-logo {
    width: 25px; /* Ajusta el ancho del logo */
    height: auto; /* Mantiene la proporción del logo */
    margin-right: 8px; /* Espacio entre el logo y el nombre */
}

.no-logo {
    margin-right: 8px; /* Espacio entre el texto y el nombre */
}

.client-name {
    font-weight: bold; /* Estilo para el nombre del cliente */
}
