{% extends "layout.html" %}

{% block title %} Clientes {% endblock title %}

{% block content %}
<h1 class="mt-4">Listado de Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="#">Mantenedor</a></li>
    <li class="breadcrumb-item active">Clientes</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Listado de Clientes
        <span class="mx-2">|</span>
        <a class="btn btn-sm btn-success" href="#" data-bs-toggle="modal" data-bs-target="#clienteModal"
            onclick="openClienteModal(null)">
            <i class="fa fa-plus"></i> CREAR NUEVO CLIENTE
        </a>
    </div>

    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Contacto</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Contacto</th>
                    <th>Acción</th>
                </tr>
            </tfoot>
            <tbody>
                {% for item in clientes %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>
                        {% if item.logo %}
                        <img src="data:image/png;base64,{{ item.logo | b64encode }}" alt="Logo" class="client-logo">
                        {% endif %}
                        {{ item.nombre }}
                    </td>
                    <td>{{ item.contacto }}</td>
                    <td class="col-2">
                        <a class="btn btn-sm btn-warning" title="Editar" data-bs-toggle="modal"
                            data-bs-target="#clienteModal"
                            onclick="openClienteModal({{ item.id }}, '{{ item.nombre }}', '{{ item.contacto }}')">
                            <i class="fa fa-pen"></i></a>
                        <a class="btn btn-sm btn-danger" title="Eliminar"
                            onclick="return confirmDelete(event, {{ item.id }});">
                            <i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'components/clientes/modal_form.html' %}

{% endblock content %}

{% block customJS %}
<script>
    function confirmDelete(event, clienteId) {
        event.preventDefault(); // Evita el comportamiento predeterminado del enlace

        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás recuperar este registro!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminarlo!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                console.log("Client ID:", clienteId); // Asegúrate de que se imprima el ID correcto

                // Enviar solicitud POST
                fetch('/eliminar_cliente/' + clienteId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token() }}' // Incluye CSRF token si lo necesitas
                    }
                }).then(response => {
                    if (response.ok) {
                        window.location.href = '/clientes'; // Redirige a la lista de clientes
                    } else {
                        Swal.fire('Error', 'No se pudo eliminar el cliente.', 'error');
                    }
                }).catch(err => {
                    console.error(err);
                    Swal.fire('Error', 'Hubo un problema al eliminar el cliente.', 'error');
                });
            }
        });
    }

</script>
{% endblock customJS %}