<div class="modal fade" id="clienteModal" tabindex="-1" aria-labelledby="clienteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clienteModalLabel">Crear Nuevo Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
                <form id="clienteForm" method="POST" action="#">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" id="clienteId" name="id">
                    <div class="mb-3">
                        <label for="clienteNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="clienteNombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="clienteContacto" class="form-label">Contacto</label>
                        <input type="text" class="form-control" id="clienteContacto" name="contacto">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-xmark"></i> Cancelar</button>
                <button type="submit" class="btn btn-primary" form="clienteForm"><i class="fas fa-floppy-disk"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function openClienteModal(id = null, nombre = '', contacto = '') {
        const modalTitle = document.getElementById('clienteModalLabel');
        const clienteForm = document.getElementById('clienteForm');
        const clienteId = document.getElementById('clienteId');
        const clienteNombre = document.getElementById('clienteNombre');
        const clienteContacto = document.getElementById('clienteContacto');

        if (id) {
            modalTitle.innerText = 'Editar Cliente';
            clienteForm.action = '/editar_cliente/' + id;
        } else {
            modalTitle.innerText = 'Crear Nuevo Cliente';
            clienteForm.action = '/crear_cliente';
        }

        clienteId.value = id || '';
        clienteNombre.value = nombre || '';
        clienteContacto.value = contacto || '';
    }
</script>
