<div class="modal fade" id="contratoModal" tabindex="-1" aria-labelledby="contratoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contratoModalLabel">Crear Nuevo Contrato</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="contratoForm" method="POST" action="#">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" id="contratoId" name="id">

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="contratoAlmacen" class="form-label">Almacen</label>
                            <select class="form-control select2" id="contratoAlmacen" name="contratoAlmacen" required>
                                <option value="" disabled selected>Selecciona un almacen...</option>
                                {% for item in almacenes %}
                                <option value="{{ item.id }}">{{ item.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="contratoRenta" class="form-label">Renta Mensual (S/.)</label>
                            <input type="text" class="form-control" id="contratoRenta" name="contratoRenta" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="contratoCliente" class="form-label">Cliente</label>
                            <select class="form-control select2" id="contratoCliente" name="contratoCliente" required>
                                <option value="" disabled selected>Selecciona un cliente...</option>
                                {% for item in clientes|sort(attribute='nombre') %}
                                <option value="{{ item.id }}">{{ item.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label for="contratoFechaInicio" class="form-label">Fecha Inicio</label>
                            <input type="date" class="form-control" id="contratoFechaInicio" name="contratoFechaInicio">
                        </div>
                        <div class="col-md-3">
                            <label for="contratoFechaFinal" class="form-label">Fecha Final</label>
                            <input type="date" class="form-control" id="contratoFechaFinal" name="contratoFechaFinal">
                        </div>
                    </div>


                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="puertas">Seleccionar Puertas</label>
                            <div id="puertasContainer"></div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-xmark"></i>
                    Cancelar</button>
                <button type="submit" class="btn btn-primary" form="contratoForm"><i class="fa fa-save"></i>
                    Guardar</button>
            </div>
        </div>
    </div>
</div>