{% extends "layout.html" %}

{% block title %} Almacenes {% endblock title %}

{% block content %}
<h1 class="mt-4">Listado de Almacenes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="#">Mantenedor</a></li>
    <li class="breadcrumb-item active">Almacenes</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Listado de Almacenes
        <span class="mx-2">|</span>
        <a class="btn btn-sm btn-success" href="#" data-bs-toggle="modal" data-bs-target="#almacenModal"
            onclick="openAlmacenModal(null)">
            <i class="fa fa-plus"></i> CREAR NUEVO ALMACEN
        </a>
    </div>

    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>N° de Puertas</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>N° de Puertas</th>
                    <th>Acción</th>
                </tr>
            </tfoot>
            <tbody>
                {% for item in almacenes %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.numero_de_puertas }}</td>
                    <td class="col-3">
                        <a class="btn btn-sm btn-primary" title="Asignar Puertas" data-bs-toggle="modal"
                            data-bs-target="#puertasModal"
                            onclick="openPuertasModal({{ item.id }}, '{{ item.nombre|escape }}')">
                            <i class="fa fa-tools"></i></a>
                        <a class="btn btn-sm btn-warning" title="Editar Almacen" data-bs-toggle="modal"
                            data-bs-target="#almacenModal"
                            onclick="openAlmacenModal({{ item.id }}, '{{ item.nombre }}')">
                            <i class="fa fa-pen"></i></a>
                        <a class="btn btn-sm btn-danger" title="Eliminar Almacen"
                            onclick="return confirmDelete(event, {{ item.id }});">
                            <i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'components/almacenes/modal_form.html' %}

{% include 'components/almacenes/puertas_form.html' %}

{% endblock content %}

{% block customJS %}
<script>
    const modalAlmacen = document.getElementById('almacenModal');
    const modalPuertas = document.getElementById('puertasModal');

    const almacenModal = new bootstrap.Modal(modalAlmacen);
    const puertasModal = new bootstrap.Modal(modalPuertas);

    modalAlmacen.addEventListener('hide.bs.modal', function (event) {
        const confirmClose = confirm('¿Estás seguro de que deseas cerrar el formulario? Se perderán los datos no guardados.');
        if (!confirmClose) {
            event.preventDefault();  // Evita que el modal se cierre si el usuario cancela
        }
    });

    modalPuertas.addEventListener('hide.bs.modal', function (event) {
        const confirmClose = confirm('¿Estás seguro de que deseas cerrar el formulario? Se perderán los datos no guardados.');
        if (!confirmClose) {
            event.preventDefault();  // Evita que el modal se cierre si el usuario cancela
        }
    });

    function confirmDelete(event, almacenId) {
        event.preventDefault(); // Evita el comportamiento predeterminado del enlace

        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás recuperar este registro!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminarlo!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                console.log("Almacen ID:", almacenId); // Asegúrate de que se imprima el ID correcto

                // Enviar solicitud POST
                fetch('/eliminar_almacen/' + almacenId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token() }}' // Incluye CSRF token si lo necesitas
                    }
                }).then(response => {
                    if (response.ok) {
                        window.location.href = '/almacenes'; // Redirige a la lista de almacens
                    } else {
                        Swal.fire('Error', 'No se pudo eliminar el almacen.', 'error');
                    }
                }).catch(err => {
                    console.error(err);
                    Swal.fire('Error', 'Hubo un problema al eliminar el almacen.', 'error');
                });
            }
        });
    }
</script>
{% endblock customJS %}