{% extends "layout.html" %}

{% block title %} Almacenes {% endblock title %}

{% block content %}
<h1 class="mt-4">Listado de Almacenes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="#">Mantenedor</a></li>
    <li class="breadcrumb-item active">Almacenes</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Listado de Almacenes
        <span class="mx-2">|</span>
        <a class="btn btn-sm btn-success" href="#" data-bs-toggle="modal" data-bs-target="#almacenModal"
            onclick="openAlmacenModal(null)">
            <i class="fa fa-plus"></i> CREAR NUEVO ALMACEN
        </a>
    </div>

    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Empresa</th>
                    <th>N° de Puertas</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Empresa</th>
                    <th>N° de Puertas</th>
                    <th>Acción</th>
                </tr>
            </tfoot>
            <tbody>
                {% for item in almacenes %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.empresa.nombre }}</td>
                    <td>{{ item.numero_de_puertas }}</td>
                    <td class="col-3">
                        <a class="btn btn-sm btn-primary" title="Asignar Puertas" data-bs-toggle="modal"
                            data-bs-target="#puertasModal"
                            onclick="openPuertasModal({{ item.id }}, '{{ item.nombre|escape }}')">
                            <i class="fa fa-tools"></i></a>
                        <a class="btn btn-sm btn-warning" title="Editar Almacen" data-bs-toggle="modal"
                            data-bs-target="#almacenModal" {% if item.almacenCSSDetalles|length> 0 %}
                            onclick="openAlmacenModal(
                            {{ item.id }},
                            '{{ item.nombre }}',
                            {{ item.empresa_id }},
                            {{ item.almacenCSSDetalles[0].top }},
                            {{ item.almacenCSSDetalles[0].left_pos }},
                            {{ item.almacenCSSDetalles[0].width }},
                            {{ item.almacenCSSDetalles[0].height }},
                            '{{ item.almacenCSSDetalles[0].color }}'
                            )"
                            {% else %}
                            onclick="openAlmacenModal({{ item.id }}, '{{ item.nombre }}', 0, 0, 100, 100, '#ffffff')"
                            {% endif %}>
                            <i class="fa fa-pen"></i></a>
                        <a class="btn btn-sm btn-danger" title="Eliminar Almacen"
                            onclick="return confirmDelete(event, {{ item.id }});">
                            <i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'components/almacenes/modal_form.html' %}

{% include 'components/almacenes/puertas_form.html' %}

{% endblock content %}

{% block customJS %}
<script>
    const modalAlmacen = document.getElementById('almacenModal');
    const modalPuertas = document.getElementById('puertasModal');
    const almacenModal = new bootstrap.Modal(modalAlmacen);
    const puertasModal = new bootstrap.Modal(modalPuertas);

    modalAlmacen.addEventListener('hide.bs.modal', function (event) {
        const confirmClose = confirm('¿Estás seguro de que deseas cerrar el formulario? Se perderán los datos no guardados.');
        if (!confirmClose) {
            event.preventDefault();  // Evita que el modal se cierre si el usuario cancela
        }
    });

    function confirmDelete(event, almacenId) {
        event.preventDefault(); // Evita el comportamiento predeterminado del enlace

        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás recuperar este registro!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminarlo!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                console.log("Almacen ID:", almacenId); // Asegúrate de que se imprima el ID correcto

                // Enviar solicitud POST
                fetch('/eliminar_almacen/' + almacenId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token() }}' // Incluye CSRF token si lo necesitas
                    }
                }).then(response => {
                    if (response.ok) {
                        window.location.href = '/almacenes'; // Redirige a la lista de almacens
                    } else {
                        Swal.fire('Error', 'No se pudo eliminar el almacen.', 'error');
                    }
                }).catch(err => {
                    console.error(err);
                    Swal.fire('Error', 'Hubo un problema al eliminar el almacen.', 'error');
                });
            }
        });
    }
</script>

<script>
    function openAlmacenModal(id = null, nombre = '', empresa_id = '', top = '', leftPos = '', width = '', height = '', color = '') {
        const modalTitle = document.getElementById('almacenModalLabel');
        const almacenForm = document.getElementById('almacenForm');
        const almacenId = document.getElementById('almacenId');
        const almacenNombre = document.getElementById('almacenNombre');
        const almacenEmpresa = document.getElementById('almacenEmpresa');
        const detalleTop = document.getElementById('top');
        const detalleLeftPos = document.getElementById('leftPos');
        const detalleWidth = document.getElementById('width');
        const detalleHeight = document.getElementById('height');
        const detalleColor = document.getElementById('color');

        if (id) {
            modalTitle.innerText = 'Editar Almacen';
            almacenForm.action = '/editar_almacen/' + id;
        } else {
            modalTitle.innerText = 'Crear Nuevo Almacen';
            almacenForm.action = '/crear_almacen';
        }
        almacenId.value = id || '';
        almacenNombre.value = nombre || '';
        almacenEmpresa.value = empresa_id || '';
        detalleTop.value = top || '';
        detalleLeftPos.value = leftPos || '';
        detalleWidth.value = width || '';
        detalleHeight.value = height || '';
        detalleColor.value = color || '';
    }
</script>

<script>

    let puertasEliminadas = [];

    function openPuertasModal(id = null, nombre = '') {
        const modalTitle = document.getElementById('puertasModalLabel');
        const listaPuertas = document.getElementById('listaPuertas');
        const almacenId = document.getElementById('almacenId');
        const mensajeSinPuertas = document.getElementById('mensajeSinPuertas'); // Obtener referencia aquí

        if (id) {
            modalTitle.innerText = `Asignar Puertas a Almacén ${nombre}`;
            almacenId.value = id;

            // Limpiar la lista de puertas
            listaPuertas.innerHTML = '';

            // Asegurarse que mensajeSinPuertas existe antes de trabajar con él
            if (mensajeSinPuertas) {
                mensajeSinPuertas.style.display = 'none';
            }

            // Realizar una llamada AJAX para obtener las puertas
            fetch(`/almacenes/${id}/puertas`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.length > 0) {
                        data.forEach(puerta => {
                            const nuevaPuerta = document.createElement('li');
                            nuevaPuerta.className = 'list-group-item d-flex justify-content-between align-items-center';
                            nuevaPuerta.setAttribute('data-puerta-id', puerta.id);
                            nuevaPuerta.textContent = `${puerta.nombre}`;

                            const eliminarBtn = document.createElement('button');
                            eliminarBtn.className = 'btn btn-danger btn-sm';
                            eliminarBtn.innerHTML = '<i class="fa fa-trash"></i>';
                            eliminarBtn.onclick = function () {
                                puertasEliminadas.push(puerta.id);
                                listaPuertas.removeChild(nuevaPuerta);
                                actualizarMensajePuertas(); // Llamar para actualizar el mensaje
                            };

                            nuevaPuerta.appendChild(eliminarBtn);
                            listaPuertas.appendChild(nuevaPuerta);
                        });
                    } else {
                        listaPuertas.innerHTML = '<li class="list-group-item">No hay puertas disponibles</li>';
                        if (mensajeSinPuertas) {
                            mensajeSinPuertas.style.display = 'block'; // Mostrar mensaje
                        }
                    }
                })
                .catch(error => console.error('Error al obtener las puertas:', error));
        }
    }

    function actualizarMensajePuertas() {
        const listaPuertas = document.getElementById('listaPuertas');
        const mensajeSinPuertas = document.getElementById('mensajeSinPuertas');
        // Si la lista está vacía, mostrar el mensaje
        if (listaPuertas.children.length === 0) {
            mensajeSinPuertas.style.display = 'block'; // Mostrar mensaje
        } else {
            mensajeSinPuertas.style.display = 'none'; // Ocultar mensaje
        }
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const agregarPuertaBtn = document.getElementById('agregarPuerta');
        const listaPuertas = document.getElementById('listaPuertas');
        const nombrePuertaInput = document.getElementById('nombrePuerta');
        const tituloPuertas = document.getElementById('tituloPuertas');
        const puertasForm = document.getElementById('puertasForm');
        const mensajeSinPuertas = document.getElementById('mensajeSinPuertas');

        let puertasAgregadas = [];

        agregarPuertaBtn.addEventListener('click', function () {
            const nombrePuerta = nombrePuertaInput.value.trim();
            if (nombrePuerta) {
                const nuevaPuerta = document.createElement('li');
                nuevaPuerta.className = 'list-group-item d-flex justify-content-between align-items-center';
                nuevaPuerta.textContent = nombrePuerta;

                const puertaId = Date.now();
                nuevaPuerta.setAttribute('data-puerta-id', puertaId);

                const eliminarBtn = document.createElement('button');
                eliminarBtn.className = 'btn btn-danger btn-sm';
                eliminarBtn.innerHTML = '<i class="fa fa-trash"></i>';

                eliminarBtn.onclick = function () {
                    const puertaId = nuevaPuerta.getAttribute('data-puerta-id');
                    console.log(`Eliminando puerta con ID: ${puertaId}`);
                    if (puertaId) {
                        puertasEliminadas.push(puertaId);
                        console.log(`Puertas eliminadas después de agregar: ${puertasEliminadas}`);
                    }
                    listaPuertas.removeChild(nuevaPuerta);
                    puertasAgregadas = puertasAgregadas.filter(p => p.nombre !== nombrePuerta);

                    actualizarMensajePuertas(); // Actualiza el mensaje al eliminar
                };

                nuevaPuerta.appendChild(eliminarBtn);
                listaPuertas.appendChild(nuevaPuerta);
                puertasAgregadas.push({ nombre: nombrePuerta });
                nombrePuertaInput.value = '';
                tituloPuertas.innerText = 'Puertas Agregadas:';
                mensajeSinPuertas.style.display = 'none'; // Ocultar mensaje al agregar
            } else {
                alert('Por favor, ingresa un nombre para la puerta.');
            }
        });

        puertasForm.addEventListener('submit', function (event) {
            event.preventDefault();

            const almacenId = document.getElementById('almacenId').value;
            const data = {
                almacenId: almacenId,
                puertasAgregadas: puertasAgregadas,
                puertasEliminadas: puertasEliminadas
            };

            fetch('/guardarPuertas', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('input[name="csrf_token"]').value
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.message) {
                        location.reload();
                    } else if (data.error) {
                        alert(data.error);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });
</script>
{% endblock customJS %}